/*****FONT*****/

@font-face {
    font-family: 'Akkurat';
    src: url('css/font/Akkurat.woff') format('woff'),
    url('css/font/Akkurat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Akkurat-Light';
    src: url('css/font/Akkurat-Light.woff') format('woff'),
    url('css/font/Akkurat-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/*****BODY*****/

* {
    font-family: 'Akkurat-Light', Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #358c96;
}

a:visited {
    color: #358c96;
}

a:hover {
    color: #41b0bd;
}

main {
    margin: 70px auto;
}

#about,
#projects,
#skills,
#contact {
    padding: 30px;
    margin-top: 25px;
}

/*****HEADINGS*****/

h1 {
    font-size: 40px;
    color: black;
    border-bottom: 20px solid #b1e1e6;
    text-transform: uppercase;
    line-height: 0.9px;
}

/*****HEADER*****/

#header-container {
    position: fixed;
    background: white;
    width: 100%;
    height: 100px;
    text-align: right;
    top: 0px;
    box-shadow: 0 0 10px black;
    padding: 10px;
    z-index: 100;
}

nav #name-logo {
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 30px;
}

nav li {
    display: inline-block;
    padding: 10px;
}

nav span {
    display: none;
}

nav a {
    padding: 5px;
    color: #358c96;
}

nav a:focus {
    background: #b1e1e6;
}

nav a.selected {
    border-bottom: 5px solid #b1e1e6;
    line-height: 0.1px;
    color: black;
}


/******LANDING*****/

#landing {
    height: 100vh;
    margin-top: 100px;
    background: url('../images/star%20trails.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
    text-align: center;
}

#landing p {
    padding-top: 35vh;
    font-size: 30px;
    text-shadow: 2px 2px black;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 0.5s;
}


/*****ABOUT*****/

#about-info {
    padding: 50px;
    /*    border: 1px solid black;*/
    width: 90%;
    margin: 0 auto;
}

img.about-image {
    height: 250px;
    float: right;
    margin-left: 20px;
    vertical-align: top;
}


/*****PROJECTS*****/

#projects {
    text-align: center;
}

#projects h1 {
    text-align: left;
}

.project-info {
    text-align: center;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: auto 12px;
}

.project-info img {
    width: 90%;
}

.project-info p {
    padding: 10px;
}

.project-info h2 {
    border-bottom: 15px solid #eee;
    line-height: 0.9px;
    height: 15px;
    font-size: 30px;
    color: #358c96;
    text-transform: lowercase;
}

.project-info a {
    background: #41b0bd;
    padding: 8px;
    margin: 10px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

.project-info a:hover {
    background: #358c96;
}

.technology {
    color: #999;
    padding: 10px;
    margin-top: 20px;
}

/*****SKILLS*****/

#skills {
    text-align: center;
}

#skills h1 {
    text-align: left;
}

#skills h2 {
    color: #358c96;
    font-size: 35px;
    text-align: center;
    vertical-align: top;
}

.development-skills {
    display: inline-block;
    height: 400px;
    padding: 20px;
    vertical-align: top;
    margin: auto 20px;
}

.icon-html,
.icon-database-alt2 {
    font-size: 50px;
}

#skills span {
    vertical-align: top;
}

#skills li {
    list-style: none;
    padding: 5px;
    font-size: 18px;
    text-align: justify;
}

#skills li:before {
    content: "\25B9";
}

.development-icons {
    text-align: center;
}


.icon-html5,
.icon-javascript,
.icon-css3,
.icon-jquery,
.icon-reactjs,
.icon-nodejs,
.icon-mongodb {
    font-size: 36px;
    color: #b1e1e6;
}

/*****CONTACT*****/

#contact {
    text-align: center;
}

#contact h1 {
    text-align: left;
}

#contact p {
    margin: 30px;
}

#contact-container img {
    height: 45px;
    padding: 5px;
}


/*****FOOTER*****/

footer {
    background: lightgrey;
    width: 100%;
    height: 70px;
    bottom: 0;
    padding: 5px;
    text-align: center
}

/*****RESPONSIVE*****/

@media only screen and (max-width: 640px) {
    /*DROPDOWN*/
    nav span {
        display: inline-block;
    }

    nav span:hover {
        color: #358c96;
    }

    .dropdown-nav span {
        font-size: 18px;
    }

    .active {
        display: none;
    }

    .dropdown-nav {
        position: relative;
        left: 80px;
        top: 15px;
        width: 200px;
        margin: 0 auto;
        padding: 10px;
        background: rgba(0, 0, 0, 0);
        cursor: pointer;
        outline: none;
    }

    .dropdown-nav .dropdown {
        position: absolute;
        top: 140%;
        left: 0;
        right: 0;

        background: white;
        border-radius: inherit;
        border: 1px solid rgba(0, 0, 0, 0.17);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        font-weight: normal;
        transition: all 0.5s ease-in;
        list-style: none;

        opacity: 0;
        pointer-events: none;
    }

    .dropdown-nav .dropdown li a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #358c96;
        border-bottom: 1px solid #e6e8ea;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1);
        transition: all 0.3s ease-out;
    }

    .dropdown-nav .dropdown li i {
        float: right;
        color: inherit;
    }

    .dropdown-nav .dropdown li:first-of-type a {
        border-radius: 7px 7px 0 0;
    }

    .dropdown-nav .dropdown li:last-of-type a {
        border-radius: 0 0 7px 7px;
        border: none;
    }

    .dropdown-nav .dropdown li:hover a {
        background: #b1e1e6;
    }

    .dropdown-nav .dropdown:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: 100%;
        right: 15px;
        border-width: 0 6px 6px 6px;
        border-style: solid;
        border-color: #fff transparent;
    }

    .dropdown-nav .dropdown:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: 100%;
        right: 13px;
        border-width: 0 8px 8px 8px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.1) transparent;
    }

    .dropdown-nav .dropdown {
        opacity: 1;
        pointer-events: auto;
    }

    /*PROJECTS*/
    .project-info {
        width: 100%;
        display: block;
        height: 100vhpx;
        padding: 20px;
        margin: 20px auto;
    }

    .project-info img {
        width: 90%;
    }

    /*ABOUT*/
    #about {
        text-align: center;
    }

    #about p {
        text-align: left;
    }

    #about img {
        float: none;
        border-radius: 1000px;
        margin: 0 auto;
        width: 80%;
        height: auto;
    }

}
