/*****FONT*****/

@font-face {
    font-family: 'Akkurat';
    src: url('./font/Akkurat.woff') format('woff'),
    url('./font/Akkurat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Akkurat-Light';
    src: url('./font/Akkurat-Light.woff') format('woff'),
    url('./font/Akkurat-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/*****BODY*****/

* {
    box-sizing: border-box;
}

ul,
menu,
dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

body {
    margin: 0 auto;
    font-family: 'Akkurat-Light', Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #358c96;
}

a:visited {
    color: #358c96;
}

a:hover {
    color: #41b0bd;
    cursor: pointer;
}

main {
    margin: 0px auto;
}

#about,
#projects,
#skills,
#contact {
    padding: 30px;
    margin-top: 25px;
}

/*****HEADINGS*****/

h1 {
    font-size: 40px;
    color: black;
    border-bottom: 20px solid #b1e1e6;
    line-height: 0.9px;
    font-family: 'Akkurat', Helvetica, sans-serif;
}

/*****HEADER*****/

#header-container {
    position: fixed;
    background: white;
    width: auto;
    height: 45px;
    text-align: right;
    top: 0px;
    z-index: 100;
    box-shadow: 0 0 10px black;
    width: 100%;
    padding: 0;
}

#name-logo {
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 0;
    padding-top: 10px;
    margin: 0;
}

nav li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    color: #358c96;
}

nav ul {
    width: auto;
    margin-top: 10px;
    line-height: 0px;
    padding-top: 10px;
    padding-right: 10px;
}

nav a:focus {
    background: #b1e1e6;
}

nav a.selected {
    border-bottom: 5px solid #b1e1e6;
    color: black;
}

nav span {
    display: none;
}

/******LANDING*****/

#landing {
    height: 100vh;
    margin-top: 0;
    background: url('../images/star%20trails.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
    text-align: center;
}

#landing p {
    padding-top: 50vh;
    font-size: 30px;
    text-shadow: 2px 2px black;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 0.5s;
}


/*****ABOUT*****/

#about-info {
    padding: 50px;
    width: 90%;
    margin: 0 auto;
}

img.about-image {
    height: 250px;
    float: right;
    margin-left: 20px;
    vertical-align: top;
}


/*****PROJECTS*****/

#projects {
    text-align: center;
}

#projects h1 {
    text-align: left;
}

.project-info {
    text-align: center;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: auto 12px;
}

.project-info img {
    width: 90%;
}

.project-info p {
    padding: 10px;
}

.project-info h2 {
    border-bottom: 15px solid #eee;
    line-height: 0.9px;
    height: 15px;
    font-size: 30px;
    color: #358c96;
    text-transform: lowercase;
}

.project-info a {
    background: #41b0bd;
    padding: 8px;
    margin: 10px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

.project-info a:hover {
    background: #358c96;
}

.technology {
    color: #999;
    padding: 10px;
    margin-top: 20px;
}

/*****SKILLS*****/

#skills {
    text-align: center;
}

#skills h1 {
    text-align: left;
}

#skills h2 {
    color: #358c96;
    font-size: 30px;
    text-align: center;
    vertical-align: top;
    font-family: 'Akkurat', Helvetica, sans-serif;
    margin: 10px;
}

#skills ul {
    margin-top: 15px;
}

.development-skills {
    display: inline-block;
    height: 400px;
    padding: 0;
    vertical-align: top;
    margin: auto 10px;
}

.icon-html,
.icon-database-alt2 {
    font-size: 50px;
}

#skills span {
    vertical-align: top;
}

#skills li {
    list-style: none;
    padding: 5px;
    font-size: 18px;
    text-align: justify;

}

#skills li:before {
    content: "\25B9";
    margin: 10px;
}

.development-icons {
    text-align: center;
}


.icon-html5,
.icon-javascript,
.icon-css3,
.icon-jquery,
.icon-reactjs,
.icon-nodejs,
.icon-mongodb,
.icon-heroku,
.icon-database,
.icon-shell {
    font-size: 36px;
    color: #b1e1e6;
    margin-left: 10px;
}

/*****CONTACT*****/

#contact {
    text-align: center;
}

#contact h1 {
    text-align: left;
}

#contact p {
    margin: 30px;
}

#contact-container img {
    height: 45px;
    padding: 5px;
    margin: 5px;
}


/*****FOOTER*****/

footer {
    background: lightgrey;
    width: 100%;
    height: 70px;
    bottom: 0;
    padding: 5px;
    text-align: center
}

/*****RESPONSIVE*****/

@media only screen and (max-width: 860px) {
    /*DROPDOWN*/
    .active {
        display: none;
    }

    nav span {
        display: inline-block;
        padding: 8px;
        font-size: 18px;
        width: auto;
    }

    nav span:hover {
        color: #358c96;
        cursor: context-menu;
    }

    .dropdown-nav {
        position: relative;
        width: auto;
        background: rgba(0, 0, 0, 0);
        cursor: pointer;
        outline: none;
    }

    .dropdown-nav .dropdown {
        background: white;
        border-radius: inherit;
        border: 1px solid rgba(0, 0, 0, 0.17);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        font-weight: normal;
        transition: all 0.5s ease-in;
        list-style: none;
        width: 180px;
        float: right;

        opacity: 0;
        pointer-events: none;
    }

    .dropdown-nav .dropdown li {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: #358c96;
        border-bottom: 1px solid #e6e8ea;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1);
        transition: all 0.3s ease-out;
    }

    .dropdown-nav .dropdown li i {
        float: right;
        color: inherit;
    }

    .dropdown-nav .dropdown li:hover a {
        background: #b1e1e6;
    }

    .dropdown-nav .dropdown {
        opacity: 1;
        pointer-events: auto;
    }

    /*PROJECTS*/
    .project-info {
        width: 100%;
        display: block;
        height: 600px;
        padding: 20px;
        margin: 20px auto;
    }

    .project-info img {
        width: 90%;
    }

    /*ABOUT*/
    #about {
        text-align: center;
    }

    #about p {
        text-align: left;
    }

    #about img {
        float: none;
        border-radius: 1000px;
        margin: 0 auto;
        width: 80%;
        height: auto;
    }

    #about-info {
        padding: 20px;
        width: 90%;
        margin: 0 auto;
    }

    /*SKILLS*/
    .development-skills {
        display: block;
        height: 450px;
        padding: 20px;
    }


}
