/***FONT***/
@font-face {
    font-family: "Akkurat";
    src: url('/font/Akkurat.woff') format('woff'),
        url('/font/Akkurat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Akkurat-Light";
    src: url('/font/Akkurat-Light.woff') format('woff'),
        url('/font/Akkurat-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/***BODY***/

* {
    font-family: Akkurat-Light;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

div {
    border: 1px solid black;
}

main {
    margin: 70px auto;
}

/***HEADER***/

#header-container {
    position: fixed;
    background: white;
    width: 100%;
    height: 100px;
    text-align: right;
    top: 0px;
}

nav li{
    display: inline-block;
    margin: 10px;

}

nav img {
    display: inline-block;
    position: absolute;
    left: 10px;

}

/***LANDING***/
.landing {
    height: 100vh;
    margin-top: 100px;
    background: url('/images/star%20trails.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
    text-align: center;
}

.landing p {
    margin-top: 50vh;
    font-size: 20px;
    text-shadow: 2px 2px black;
}
