/***FONT***/
@font-face {
    font-family: "Akkurat";
    src: url('/font/Akkurat.woff') format('woff'),
        url('/font/Akkurat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Akkurat-Light";
    src: url('/font/Akkurat-Light.woff') format('woff'),
        url('/font/Akkurat-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/***BODY***/

* {
    font-family: Akkurat-Light;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

div {
    border: 1px solid black;
}

/***HEADER***/

header {
    position: fixed;
    background: white;
    width: 100%;
    height: 100px;
    text-align: right;
}

nav li{
    display: inline-block;
    margin: 10px;

}

header img {
    display: inline-block;
    position: absolute;
    left: 10px;

}
